* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(30, 29, 29);
    padding: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu li {
    margin-right: 5px;
    margin-top: 5px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.menu li:hover {
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
}

.menu img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    border: 2px solid purple;
}

.thanh {
    background-color: aqua;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    width: 100%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(50% - 20px);
    margin-bottom: 50px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border: 2px solid purple;
    margin-bottom: 20px;
    border-radius: 10px;
}

.minhthanh button {
    background-color: aqua;
    color: green;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.nguyenthanh {
    width: calc(50% - 20px);
    margin-bottom: 50px;
    text-align: center;
}

.section {
    text-align:center;
}

.thanhem {
    background-color: darkgrey;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.thanhemm {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .products {
        flex-direction: column;
        align-items: center;

        .product {
            width: calc(100% - 20px);
        }
    }

    .minhthanh button,
    .nguyenthanh {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }
}

