* {
    margin: 0;
    padding: 0;
}

header {
    background-color: white(30, 29, 29);
    padding: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu li {
    margin-right: 5px;
    margin-top: 5px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.menu li:hover {
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
}

.menu img {
    width: 130px;
    height: auto;
}

video {
    border: 2px solid purple;
}

.thanh {
    background-color: aqua;
    text-align: center;
    padding: auto;
    margin-top: auto;
    border-radius: 700px;
    width: 800px;
    margin: 0 auto;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    width: calc(33.3% - 20px);
    margin-bottom: 50px;
    text-align: center;
}

.product img {
    width: 400px;
    height: 400px;
    border: 2px solid purple;
    margin-bottom: 20px;
    border-radius: 10px;
}

.minhthanh button{
    text-align:center;
    background-color: aqua;
    color: green;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 30px;
    cursor: pointer;
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.nguyenthanh {
    width: calc(33.3% - 20px);
    margin-bottom: 50px;
    text-align: center;
}
.section{
    text-align:center;
}
.thanhem{
        background-color:darkgrey;
        color: #fff;
        padding: 20px;
        text-align: center;
}
.thanhemm{
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}
@media screen and(min-width: 600px){
    .main:before, .main:after{
        content:"";
        display:table;
        clear:both
    }
    .products{
        width:63.5%;
        float:left;
        margin-right:1.5%;
    }
    .product{
        width:35%;
        float:left;
    }
}

    
